<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
    <h1>Здесь будет главная страница</h1>
    <a href="/about"> О проекте </a>
    <br>
    <a href="#" class="btn btn-success">Работает</a>
    <br>
    <div class="container">
        <p class="btn btn-outline-secondary p-4">...</p>
        <p class="btn btn-outline-secondary px-4">...</p>
        <p class="btn btn-outline-secondary pt-4">...</p>
        <p class="btn btn-outline-secondary pr-4">...</p>
        <p class="btn btn-outline-secondary pb-4">...</p>
        <p class="btn btn-outline-secondary pl-4">...</p>
    </div>
</body>
</html>